.content{
	min-height:600px;
}
.banner-image{
	padding-bottom:82px;

	text-align:center;
	color:#f8f8f8;
	background:url(intro-bg_1.jpg)no-repeat center;
	background-size:cover;
}
.inner-banner-image{
	padding-top:15%;
	padding-left:100px;
	width:60%;
	margin:auto;
}
.banner-content{
	position:relative;
	padding-top:6%;
	padding-bottom:6%;
	overflow:hidden;
	margin-bottom:12%;
	background-color:rgba(0,0,0,0.7);
	max-width:660px;
}
.button{
	color:#fff;
	background-color:#c9302c;
	border-color:#ac2925;
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	padding:10px 16px;
	font-size:18px;
	border-radius:6px;
}
.footer{
	background-color:#000;
	color:#fff;
	font-size:14px;	
}
.rite{
	font-family:arial;
	text-align:center;
}
#panell{
	padding-top:61px;
}
.panel-heading{
	text-align:center;
}
.log{
	text-align:center;
}
.items{
	width:30%;
	display:block;
	padding:4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border:1px solid #ddd;
	border-radius: 4px;
	float:left;
	margin-left:1%;

}
.thumbnail{
	display:block;
	max-width:100%;
	height: auto;

}
.caption{
	color:#000;
	padding:0px 10px 10px;
	font-weight:bold;
	text-align:center;
	font-family: arial;
}
.Cart{
	width:60%;
}
.tablet{
	padding-top: 50px;
}
.success{
	padding-top: 60px;
	text-align: center;
}
.succ{
	text-align: center;
}
.footer1{
	padding-top: 2px;
}
